@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sporting Grotesque";
  src: local("Sporting"),
    url("../assets/fonts/sporting-grotesque/SportingGrotesque-Bold.otf")
      format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Sporting Grotesque";
  src: local("Sporting"),
    url("../assets/fonts/sporting-grotesque/SportingGrotesque-Regular.otf")
      format("truetype");
  font-weight: normal;
}

/* composed classes */
.section-large-heading {
  @apply font-sg font-bold text-[26px] xs:text-[36px] sm:text-[42px] lg:text-[50px];
}

.section-medium-heading {
  @apply font-sg font-normal text-[26px] xs:text-[32px] sm:text-[36px] lg:text-[46px];
}

.section-body {
  @apply tracking-slight text-xs sm:text-sm lg:text-base font-normal text-dimBlack;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Poppins", sans-serif;
}

.hero-wave {
  /* clip-path: polygon(20% 70%, 50% 85%, 100% 5%, 100% 100%, 0% 100%); */
}

.hero-wave::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  background-color: #50bef4;
  z-index: 100;
  border-top-left-radius: 100px;
}

.hero-wave::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100px;
  background-color: #50bef4;
  z-index: 100;
  border-top-right-radius: 100% 8%;
  border-top-left-radius: 100% 4%;
}

.backdrop-custom-blur {
  -webkit-backdrop-filter: blur(32px);
  backdrop-filter: blur(32px);
}
